<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords"
        content="wrappixel, admin dashboard, html css dashboard, web dashboard, bootstrap 5 admin, bootstrap 5, css3 dashboard, bootstrap 5 dashboard, Ample lite admin bootstrap 5 dashboard, frontend, responsive bootstrap 5 admin template, Ample admin lite dashboard bootstrap 5 dashboard template">
    <meta name="description"
        content="Ample Admin Lite is powerful and clean admin dashboard template, inpired from Bootstrap Framework">
    <meta name="robots" content="noindex,nofollow">
    <title>Ample Admin Lite Template by WrapPixel</title>
    <link rel="canonical" href="https://www.wrappixel.com/templates/ample-admin-lite/" />
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('plugins/images/favicon.png')}}">
    <!-- Custom CSS -->
   <link href="{{ asset('css/style.min.css')}}" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body>
                <div id="popupbox"  style=" {{addShow ? "visibility : visible" : "visibility :  hidden"}}  ;
                position : fixed; z-index: 10000; top: 100px; left: 30%;  width: 50%;"> 
                    <button onclick="login('hide')" id="closeAddProfile" style="position: absolute; background-color: #c6abab; z-index: 10001; right: 0%;" type="button" class="btn-close"  aria-label="Close"></button>
                    <div class="card">
                            <div class="card-body">
                                <form method="post" class="form-horizontal form-material">
                                    <div class="form-group mb-4" style="float : left ; width : 50%;">
                                        <label class="col-md-12 p-0">First Name</label>
                                        <div class="col-md-12 border-bottom p-0">
                                            <input name="firstname" type="text" value="{{addShow ? formvalues[0] : "" }}" placeholder="Ramzi" class="form-control p-0 border-0"> </div>
                                    </div>
                                    <div class="form-group mb-4" style="float : left ; width : 50%;">
                                        <label class="col-md-12 p-0">Last Name</label>
                                        <div class="col-md-12 border-bottom p-0">
                                            <input name="lastname" type="text" value="{{addShow ? formvalues[1] : "" }}" placeholder="Kerkeni" class="form-control p-0 border-0"> </div>
                                    </div>
                                    <div class="form-group mb-4" style="float : left ; width : 50%;">
                                        <label for="example-email" class="col-md-12 p-0">Email</label>
                                        <div class="col-md-12 border-bottom p-0">
                                            <input type="email" value="{{addShow ? formvalues[2] : "" }}" placeholder="ramzi.kerkeni@esprit.tn" class="form-control p-0 border-0" name="email" id="example-email">
                                        </div>
                                    </div>
                                    <div class="form-group mb-4" style="float : left ; width : 50%;">
                                        <label for="example-email" class="col-md-12 p-0">Username</label>
                                        <div class="col-md-12 border-bottom p-0">
                                            <input type="username" value="{{addShow ? formvalues[3] : "" }}" placeholder="ramzi.kerkeni" class="form-control p-0 border-0" name="username" >
                                        </div>
                                    </div>
                                    <div class="form-group mb-4" style="float : left ; width : 50%;">
                                        <label class="col-md-12 p-0">CIN</label>
                                        <div class="col-md-12 border-bottom p-0">
                                            <input type="text" value="{{addShow ? formvalues[4] : "" }}" name="cin" placeholder="06000000" class="form-control p-0 border-0">
                                        </div>
                                    </div>                                
                                    <div class="form-group mb-4" style="float : left ; width : 50%;">
                                        <label class="col-md-12 p-0">Phone No</label>
                                        <div class="col-md-12 border-bottom p-0">
                                            <input type="text" value="{{addShow ? formvalues[5] : "" }}" name="phonenumber" placeholder="90000000" class="form-control p-0 border-0">
                                        </div>
                                    </div>     
                                    <div class="form-group mb-4" style="float : right ; width : 50%;">
                                        <label class="col-md-12 p-0">Birth Date</label>
                                        <div class="col-md-12 border-bottom p-0">
                                            <input type="date" value="{{addShow ? formvalues[6] : "2000-01-01" }}" name="birthday"  class="form-control p-0 border-0">
                                        </div>
                                    </div>
                                    <div class="form-group mb-4" style="float : left ; width : 50%;">
                                        <label class="col-md-12 p-0">Password</label>
                                        <div class="col-md-12 border-bottom p-0">
                                            <input id="psw-input" type="password" name="password" value="{{addShow ? formvalues[7] : "" }}" class="form-control p-0 border-0">
                                        </div>
                                        <div id="pswmeter" class="mt-3"></div>
                                        <div id="pswmeter-message" class="mt-3"></div>
                                    </div>

                                    <div class="form-group mb-4">
                                        <label class="col-sm-12">Select Privilege</label>

                                        <div class="col-sm-12 border-bottom">
                                            <select name="privilege" class="form-select shadow-none p-0 border-0 form-control-line">
                                                <option {{addShow ? (formvalues[8] == "Admin") ? "selected = 'selected'"   }}>Admin</option>
                                                <option {{addShow ? (formvalues[8] == "User") ? "selected = 'selected'"   }}>User</option>
                                                <option {{addShow ? (formvalues[8] == "Driver") ? "selected = 'selected'"  }} >Driver</option>
                                            </select>
                                        </div>
                                    </div>
                                    {% if erreur != "" %}<p style='color:#FF0000'>{{erreur}}</p>  {% endif %}
                                    <div class="form-group mb-4">
                                        <div class="col-sm-12">
                                            <button class="btn btn-success">Add Profile</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                </div> 
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div id="toblur" style="{{addShow ? "filter : blur(3px)" : ""}}">
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full"
        data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <header class="topbar" data-navbarbg="skin5">
            <nav class="navbar top-navbar navbar-expand-md navbar-dark">
                <div class="navbar-header" data-logobg="skin6">
                    <!-- ============================================================== -->
                    <!-- Logo -->
                    <!-- ============================================================== -->
                    <a class="navbar-brand" href="dashboard.html">
                        <!-- Logo icon -->
                        <b class="logo-icon">
                            <!-- Dark Logo icon -->
                            <img src="{{ asset('plugins/images/logo-icon.png')}}" alt="homepage" />
                        </b>
                        <!--End Logo icon -->
                        <!-- Logo text -->
                        <span class="logo-text">
                            <!-- dark Logo text -->
                            <img src="{{ asset('plugins/images/logo-text.png')}}" alt="homepage" />
                        </span>
                    </a>
                    <!-- ============================================================== -->
                    <!-- End Logo -->
                    <!-- ============================================================== -->
                    <!-- ============================================================== -->
                    <!-- toggle and nav items -->
                    <!-- ============================================================== -->
                    <a class="nav-toggler waves-effect waves-light text-dark d-block d-md-none"
                        href="javascript:void(0)"><i class="ti-menu ti-close"></i></a>
                </div>
                <!-- ============================================================== -->
                <!-- End Logo -->
                <!-- ============================================================== -->
                <div class="navbar-collapse collapse" id="navbarSupportedContent" data-navbarbg="skin5">
                    <ul class="navbar-nav d-none d-md-block d-lg-none">
                        <li class="nav-item">
                            <a class="nav-toggler nav-link waves-effect waves-light text-white"
                                href="javascript:void(0)"><i class="ti-menu ti-close"></i></a>
                        </li>
                    </ul>
                    <!-- ============================================================== -->
                    <!-- Right side toggle and nav items -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav ms-auto d-flex align-items-center">

                        <!-- ============================================================== -->
                        <!-- Search -->
                        <!-- ============================================================== -->
                        <li class=" in">
                            <form role="search" class="app-search d-none d-md-block me-3">
                                <input type="text" placeholder="Search..." class="form-control mt-0">
                                <a href="" class="active">
                                    <i class="fa fa-search"></i>
                                </a>
                            </form>
                        </li>
                        <!-- ============================================================== -->
                        <!-- User profile and search -->
                        <!-- ============================================================== -->
                        <li>
                            <a class="profile-pic" href="#">
                                <img src="{{ asset('plugins/images/users/varun.jpg')}}" alt="user-img" width="36"
                                    class="img-circle"><span class="text-white font-medium">{{actual_user.firstName}}</span></a>
                        </li>
                        <!-- ============================================================== -->
                        <!-- User profile and search -->
                        <!-- ============================================================== -->
                    </ul>
                </div>
            </nav>
        </header>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <aside class="left-sidebar" data-sidebarbg="skin6">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <!-- User Profile-->
                        <li class="sidebar-item pt-2">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" href="{{ path('adminProfile',{'id':actual_user.userId  }) }}"
                                aria-expanded="false">
                                <i class="far fa-user" aria-hidden="true"></i>
                                <span class="hide-menu">Profile</span>
                            </a>
                        </li>
                                                <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" href="{{ path('adminUsers')}}"
                                aria-expanded="false">
                                <i class="fa fa-user" aria-hidden="true"></i>
                                <span class="hide-menu">Users</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" href="{{path('carpooling_index')}}"
                                aria-expanded="false">
                                <i class="fa fa-car" aria-hidden="true"></i>
                                <span class="hide-menu">carpooling</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" href="{{path('complaint_index')}}"
                                aria-expanded="false">
                                <i class="fa fa-table" aria-hidden="true"></i>
                                <span class="hide-menu">Complaints</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" href="{{path('colis_index')}}"
                                aria-expanded="false">
                                <i class="fa fa-box" aria-hidden="true"></i>
                                <span class="hide-menu">delivary</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" href="{{path('colistype_index')}}"
                                aria-expanded="false">
                                <i class="fa fa-list" aria-hidden="true"></i>
                                <span class="hide-menu">delivaryType</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" href="{{path('adminProducts')}}"
                                aria-expanded="false">
                                <i class="fa fa-users" aria-hidden="true"></i>
                                <span class="hide-menu">Products</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" href="{{path('soon')}}"
                                aria-expanded="false">
                                <i class="fa fa-bus" aria-hidden="true"></i>
                                <span class="hide-menu">transportation</span>
                            </a>
                        </li>
                        <li class="text-center p-20 upgrade-btn">
                            <a href="{{ path('logout')}}"
                                class="btn d-grid btn-danger text-white">
                                Log out</a>
                        </li>
                        
                        
                    </ul>

                </nav>
                 <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="page-breadcrumb bg-white">
                <div class="row align-items-center">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                        <h4 class="page-title">Users</h4>
                    </div>
                    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                        <div class="d-md-flex">
                            <ol class="breadcrumb ms-auto">
                                <li><a href="#" class="fw-normal">Dashboard</a></li>
                            </ol>
                            <a href="javascript:login('show');" 
                                class="btn btn-danger  d-none d-md-block pull-right ms-3 hidden-xs hidden-sm waves-effect waves-light text-white">Add Profile</a>
                        </div>
                    </div>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
               

                <div class="row">
                    <div class="col-md-12">
                        <div class="white-box">
                            <div class="card" style="margin-bottom : 0px">
                            <div class="card-body">
                                <form class="form-horizontal form-material">
                                    <div class="form-group mb-4" style="float : left ; width : 33.33333%;">
                                        <label class="col-md-12 p-0">First/Last Name</label>
                                        <div class="col-md-12 border-bottom p-0">
                                            <input type="text" value="{{searchvalues[0]}}" name="name" placeholder="Ramzi/Kerkeni" class="form-control p-0 border-0" > </div>
                                    </div>
                                    <div class="form-group mb-4" style="float : left ; width : 33.33333%;">
                                        <label for="example-email" class="col-md-12 p-0">Email/Username</label>
                                        <div class="col-md-12 border-bottom p-0">
                                            <input type="username" value="{{searchvalues[1]}}" placeholder="ramzi.kerkeni" class="form-control p-0 border-0" name="username" id="example-email">
                                        </div>
                                    </div>
                                    <div class="form-group mb-4" style="float : left ; width : 33.33333%;">
                                        <label class="col-md-12 p-0">Phone No/CIN</label>
                                        <div class="col-md-12 border-bottom p-0">
                                            <input type="text" name="number" value="{{searchvalues[2]}}" placeholder="90000000" class="form-control p-0 border-0">
                                        </div>
                                    </div>

                                    <div class="form-group mb-4" style="float : right ; margin-top : 30px;">
                                        <div class="col-sm-12">
                                            <button class="btn btn-success">Search Profiles</button>
                                        </div>
                                    </div>
                                    <div class="form-group mb-4" style="float : left ; width : 33.33333%;">
                                        <label class="col-md-12 p-0">Phone No</label>
                                        <div class="col-md-12 border-bottom p-0">
                                            <input type="date" value="{{searchvalues[3]}}" name="birth" class="form-control p-0 border-0">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="white-box">
                            <h3 class="box-title">Users ({{ c|length }})</h3>
                            <!--<p class="text-muted">Add class <code>.table</code></p>-->
                            <div class="table-responsive">
                                <table id="userTable" class="table text-nowrap">
                                    <thead>
                                        <tr>
                                            <th class="border-top-0"><a onclick="sortTable(0)" style="color: rgb(255, 0, 0);">Id</a></th>
                                            <th class="border-top-0"><a onclick="sortTable(1)">First Name</a></th>
                                            <th class="border-top-0"><a onclick="sortTable(2)">Last Name</a></th>
                                            <th class="border-top-0"><a onclick="sortTable(3)">CIN</a></th>
                                            <th class="border-top-0"><a onclick="sortTable(4)">E-mail</a></th>
                                            <th class="border-top-0"><a onclick="sortTable(5)">Username</a></th>
                                            <!--<th class="border-top-0">Password</th>-->
                                            <th class="border-top-0"><a onclick="sortTable(6)">Phone Number</a></th>
                                            <th class="border-top-0"><a onclick="sortTable(7)">Birth Date</a></th>
                                            <th class="border-top-0"><a onclick="sortTable(8)">Role</a></th>
                                            <th class="border-top-0"><a>Delete</a></th>
                                            <th class="border-top-0"><a>Update</a></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for f in c %}
                                        <tr>
                                            <td>{{ f.userId }}</td>
                                            <td>{{ f.firstName }}</td>
                                            <td>{{ f.lastName }}</td>
                                            <td>{{ f.cin }}</td>
                                            <td>{{ f.email }}</td>
                                            <td>{{ f.username }}</td>
                                            <!--<td>{{ f.password }}</td>-->
                                            <td>{{ f.phoneNumber }}</td>
                                            <td>{{ f.birthDate|date("Y/m/d") }}</td>
                                            <td>
                                                {% if f.privilege == '0'%}Admin{% endif %}
                                                {% if f.privilege == '1'%}User{% endif %}
                                                {% if f.privilege == '2'%}Driver{% endif %}
                                            </td>
                                            <td><a href="{{ path('D',{'id':f.userId}) }}">Delete</a></td>
                                            <td><a href="{{ path('adminProfile',{'id':f.userId}) }}">Update</a></td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Right sidebar -->
                <!-- ============================================================== -->
                <!-- .right-sidebar -->
                <!-- ============================================================== -->
                <!-- End Right sidebar -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <footer class="footer text-center"> 2021 © Ample Admin brought to you by <a
                    href="https://www.wrappixel.com/">wrappixel.com</a>
            </footer>
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    </div><!--end to blur-->
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="{{ asset('plugins/bower_components/jquery/dist/jquery.min.js')}}"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="{{ asset('bootstrap/dist/js/bootstrap.bundle.min.js')}}"></script>
    <script src="{{ asset('js/app-style-switcher.js')}}"></script>
    <!--Wave Effects -->
    <script src="{{ asset('js/waves.js')}}"></script>
    <!--Menu sidebar -->
    <script src="{{ asset('js/sidebarmenu.js')}}"></script>
    <!--Custom JavaScript -->
    <script src="{{ asset('js/custom.js')}}"></script>
    <script language="JavaScript" type="text/javascript">
        function login(showhide){
        if(showhide == "show"){
            document.getElementById('popupbox').style.visibility="visible";
            document.getElementById('toblur').style.filter="blur(3px)";
        }else if(showhide == "hide"){
            document.getElementById('popupbox').style.visibility="hidden";
            document.getElementById('toblur').style.filter="";
        }
    }

</script>
    <script src="{{ asset('js/pswmeter.min.js')}}"></script>
    <script>
    // Run pswmeter with options
    const myPassMeter = passwordStrengthMeter({
      containerElement: '#pswmeter',
      passwordInput: '#psw-input',
      showMessage: true,
      messageContainer: '#pswmeter-message',
      messagesList: [
        'Write your password...',
        'Easy peasy!',
        'That is a simple one',
        'That is better',
        'Yeah! that password rocks ;)'
      ],
      height: 6,
      borderRadius: 0,
      pswMinLength: 8,
      colorScore1: '#aaa',
      colorScore2: '#aaa',
      colorScore3: '#aaa',
      colorScore4: 'limegreen'
    });
    
    </script>
<script>
function sortTable(columnSelected) {
  var table, rows, switching, i, x, y, shouldSwitch;
  table = document.getElementById("userTable");
  var headers = document.querySelectorAll('th.border-top-0');
  for (j = 0; j < (headers.length-1); j++){
      if (j == columnSelected) headers[j].childNodes[0].style.color = "#ff0000";
      else headers[j].childNodes[0].style.color = "#3e5569";
  } 
  
  switching = true;

  /*Make a loop that will continue until
  no switching has been done:*/
  while (switching) {
    //start by saying: no switching is done:
    switching = false;
    rows = table.rows;
    /*Loop through all table rows (except the
    first, which contains table headers):*/
    for (i = 1; i < (rows.length - 1); i++) {
      //start by saying there should be no switching:
      shouldSwitch = false;
      /*Get the two elements you want to compare,
      one from current row and one from the next:*/
      x = rows[i].getElementsByTagName("TD")[columnSelected];
      y = rows[i + 1].getElementsByTagName("TD")[columnSelected];
      //check if the two rows should switch place:
      if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
        //if so, mark as a switch and break the loop:
        shouldSwitch = true;
        break;
      }
    }
    if (shouldSwitch) {
      /*If a switch has been marked, make the switch
      and mark that a switch has been done:*/
      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
      switching = true;
    }
  }
}
</script>

</body>

</html>